<html>

<head></head>

<body style="background-color: rgb(221, 218, 218);">
    <div style="position: fixed; left: 50%; transform: translate(-50%); background-color: white; font-family: Arial;">
        <div
            style="width:450px;margin: 0px 20px 0px 20px;">
            <img style="width: 50px; margin-left: 90%;" src="https://i.imgur.com/WfcXGTI.png">
            <H1>Reset your password?</H1>
            <p>If you requested a password reset for <font size="+1">@{{username}},</font></p>

            <p style="margin-left: 2%; display: inline; justify-content: center;">use the confirmation code below to complete the process.
                 If you didn't make this request, ignore this email.</p><br><br><br>
                 <font size="+1">{{OTP}}</font>
            <h3>Getting a lot of password reset emails?</h3>
            <p>You can change your <a style="text-decoration:none; color: rgb(29, 161, 242);" href="">account settings
            </a> to require pesonal information to reset your password.</p>
            <br><br><br>

            <h3 style="color: rgb(121, 116, 116)">How do I know an email is from Twitter?</h3>
            <p style="color: rgb(121, 116, 116)">Links in this email will start with "https://" and contain "Twitter.com" Your browser will also display
                padlock icon to let you know a site is secure.
            </p>
            <br><br>
            <center><p><a style="text-decoration:none; color: rgb(29, 161, 242);" href="">Help</a> | 
                <a style="text-decoration:none; color: rgb(29, 161, 242);" href="">Not my account</a> | 
                <a style="text-decoration:none; color: rgb(29, 161, 242);" href="">Email security tips</a></p></center>

        </div>
    </div>
</body>